altgraph==0.17.4
colorama==0.4.6
iniconfig==2.0.0
itaxotools-common==0.3.3
packaging==23.2
pefile==2023.2.7
pluggy==1.4.0
pyinstaller==6.4.0
pyinstaller-hooks-contrib==2024.2
PySide6==6.6.2
PySide6_Addons==6.6.2
PySide6_Essentials==6.6.2
pytest==8.0.2
pywin32-ctypes==0.2.2
shiboken6==6.6.2
