altgraph==0.17.2
future==0.18.2
itaxotools-common==0.2.dev2
mafftpy==0.1.dev2
pefile==2021.9.3
pip==21.2.4
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
PySide6==6.2.0
pywin32-ctypes==0.2.0
setuptools==58.0.4
shiboken6==6.2.0
wheel==0.37.0
